* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100vh;
  overflow: unset;
}

.MainPage .InfoButton {
  color: #363636;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  background-color: #fff;
  border: solid 2px #8ccb68;
  border-radius: 10px;
  padding: 16px 25px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}
